<div class="col-sm-3">
  <div class="savedNote">
      <h3>{{note.title}}</h3>
      <p>
      {{note.body}}
      </p>
  <section class="note-actions">
    <a href="#" class= "delete btn x" {{action 'deleteNote' note}}>
      <span>
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
      </span>
    </a>
  </section>
    </div>
  </div>
</div>

{{yield}}
