html, body {
  font-family: "Roboto";
  height: 100%;
  width: 100%;
  padding: 5px;
}

textarea {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto";
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  border: none;
  background: #FFF176;
}

.newNote {
  padding: 5px;
  width: 25%;
  height: 30%;
  box-sizing: border-box;
  margin: 5px auto;
  text-align: center;
  background: #FFF176;
  box-shadow:  0px 0px .5px  rgba(156, 156, 156, 0.80);
}

.savedNote {
  width: 25%;
  height: 34%;
  box-sizing: border-box;
  margin: 2px auto;
  text-align: center;
  box-shadow: .2px .75px .4px  rgba(156, 156, 156, 0.40);
  display: inline-block;
  font-weight: 500;
  line-height: 12vh;
  vertical-align:middle;
  background: #FFF176;
}



.hidden {
  display: none;
}


.ember-view {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto";
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  border: none;
}

.buttonContain {
  height: 5em;
  width: 13em;
  margin: 10px auto;
}

.buttonDelete {
  height: 2em;
  width: 2em;
  margin: 0px auto;
  float: right;
  padding: 5%;
}

.btn {
  display: inline-block;
  width: 4em;
  height: 4em;
  background-color: #fff;
  color: #575757;
  box-shadow: 0 0 5px
  rgba(0,0,0,0.2);
  overflow: hidden;
  margin: -25px auto;
  transform: translateZ(0) scale(1);
  transition: all 0.5s ease;
  border-radius: 2em;
}


.btn:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.btn:active {
  transform: scale(.75, .75);
}

.btn:focus {
  outline: 0;
  border:none;
  color: rgba(0, 0, 0, 0);
}

.btn > span {
  display: block;
  position: relative;
  width: 2em;
  height: 2em;
  transition: transform 0.5s ease;
  overflow: hidden;
  margin: 1em auto;
}

.btn > span > span {
  display: block;
  background-color: #80DEEA;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

/* plus button */
.btn.plus > span > span {
  transform: scale(0.4,1) translate(-6%, 0%);
}

.btn.plus > span > span.s3 {
  transform: rotate(90deg) scale(0.4,1);
}


/* menu button */
.btn.menu > span > span.s1 {
  transform: rotate(90deg) scale(0.25,1) translate(-150%, 0);
}
.btn.menu > span > span.s2 {
  transform: rotate(90deg) scale(0.25,1) translate(-14%, 0);
}

.btn.menu > span > span.s3 {
  transform: rotate(90deg) scale(0.25,1) translate(128%, 0);
}
/* 'X' Button */
.btn.x > span > span {
  transform: rotate(45deg) scale(0.3,.9);
}

.btn.x > span > span.s3 {
  transform: rotate(135deg) scale(0.3,.9);
}


/* delete button */

.delete.btn {
  width: 2em;
  height: 2em;
  background-color: #fff;
  color: #575757;
  box-shadow: 0 0 5px
  rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 0px auto;
  transform: translateZ(0) scale(1);
  transition: all 0.5s ease;
  border-radius: 1em;
}

.delete.btn:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.delete.btn:active {
  transform: scale(.75, .75);


}

.delete.btn:focus {
  outline: 0;
  border:none;
  color: rgba(0, 0, 0, 0);
}

.delete.btn > span {
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  transition: transform 0.5s ease;
  overflow: hidden;
  margin: .5em auto;
}

.delete.btn > span > span {
  display: block;
  background-color: #000000;
  position: absolute;
  width: 90%;
  height: 90%;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}
